:root {
  --custom-color-grey: #dfe7ed;
  --custom-color-grey-two: #89939c;
}

/* Autocomplete Desktop */
.findify-components-autocomplete--search-suggestions__list {
  border-right: 2px solid var(--custom-color-grey);
  height: 100%;
}
.findify-components-autocomplete--search-suggestions__list li {
  color: var(--custom-color-grey-two);
  font-size: 14px;
  font-weight: 700;
  padding: 7px 15px;
  font-style: normal;
  margin-left: 0;
  line-height: 1.5;
  text-transform: capitalize;
}
.findify-components-autocomplete--product-matches {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: stretch;
}
.findify-components-autocomplete--product-matches__product-card .findify-components-autocomplete--product-matches__imageWrap {
  display: block;
  min-width: remove;
}
.findify-components-autocomplete--product-matches__product-card .findify-components-autocomplete--product-matches__content .findify-components-autocomplete--product-matches__price-wrapper {
  margin: 0;
  margin-top: remove;
}
.findify-components-autocomplete--tip__tip {
  height: 34px;
  line-height: 34px;
}
.findify-components-autocomplete--tip__highlight {
  color: #fff;
  font-weight: bold;
}
.findify-layouts--autocomplete--dropdown {
  z-index: 999999;
  width: 850px;
}
.findify-layouts--autocomplete--dropdown__type-title {
  padding-left: 5px!important;
  margin-top: remove;
  margin-bottom: remove;
  color: remove;
  font-size: remove;
  line-height: remove;
  font-weight: remove;
  text-transform: remove;
  font-family: remove;
}
.findify-layouts--autocomplete--dropdown__suggestions-title {
  padding-left: 15px!important;
  padding: remove;
  white-space: remove;
}
.findify-layouts--autocomplete--dropdown__tip {
  margin: 0 15px 15px;
  margin-bottom: 44px;
  background: #df1c37;
  color: #fff!important;
  text-transform: uppercase;
}
.findify-layouts--autocomplete--dropdown__product-matches-container {
  padding-left: 0!important;
}
.findify-layouts--autocomplete--dropdown__suggestions-container {
  padding: 0 10px 15px 0;
  width: 30%;
  padding-right: 0;
  padding-left: 10px;
  min-width: remove;
}
@supports (display: flex) {
  .findify-layouts--autocomplete--dropdown__product-matches-container {
    width: 70%;
    padding: 15px;
    padding-top: 0;
  }
}

.findify-layouts--autocomplete--dropdown__product-matches-container > .findify-components-autocomplete--product-matches {
  padding: 0;
}
.findify-components-autocomplete--product-matches .findify-components-autocomplete--product-matches__grid-column-class {
  width: 33.3%;
  float: left;
  display: flex;
  padding: 0 5px 10px;
}
a.findify-components-autocomplete--product-matches.findify-components-autocomplete--product-matches__product-card {
  border: 2px solid var(--custom-color-grey);
}
.findify-components-autocomplete--product-matches__content .findify-components--cards--product__title {
  color: #333;
  font-weight: 700;
  font-size: 14px;
}
.findify-layouts--autocomplete--dropdown__container h4 {
  padding: 20px 15px;
  font-size: 16px;
  color: var(--custom-color-grey-two);
  font-style: normal;
  margin-bottom: 0;
  background: var(--custom-color-grey);
  margin: 10px;
  margin-right: 0!important;
  margin-left: 0!important;
}
@media (min-width: 992px) {
  .findify-container.findify-autocomplete {
    left: 50%!important;
    margin-left: -425px;
  }
}
@media (min-width: 992px) {
  .findify-layouts--autocomplete--dropdown {
    left: 0!important;
  }
}
.findify-components-autocomplete--product-matches__product-card .findify-components-autocomplete--product-matches__imageWrap,
.findify-components-autocomplete--product-matches__product-card .findify-components-common--picture {
  margin: 0 0 10px;
  height: 130px;
  width: 100%;
}

.findify-components-autocomplete--product-matches__content {
  padding: 4px 4px 0!important;
  width: 100%;
  min-height: 100px;
}
.findify-components-autocomplete--product-matches__product-card .findify-components-autocomplete--product-matches__content span,
.findify-components-autocomplete--product-matches__product-card .findify-components--cards--product--price__price {
  color: #333;
  font-weight: 700;
  font-size: 14px!important;
  line-height: 1.5;
}
.findify-components-autocomplete--product-matches__imageWrap {
  position: relative;
}
@remove .findify-components--cards--product__price-wrapper;
.findify-components-autocomplete--product-matches__product-card {
  padding-bottom: remove;
}
@remove .findify-components-autocomplete--product-matches__grid-column-class:not(:last-child):after;
.findify-layouts--autocomplete--dropdown__container {
  margin-bottom: remove;
}
@remove .findify-layouts--autocomplete--dropdown__container > *:first-child;

.findify-layouts--autocomplete--dropdown__container h4 {
  padding: 21px 15px;
  margin-bottom: 20px !important;
  font-size: 12px !important;
}

.findify-components-autocomplete--product-matches__product-card .findify-components-autocomplete--product-matches__content {
  display: table;
}

.findify-components-autocomplete--product-matches__product-card .findify-components-autocomplete--product-matches__content .findify-components-autocomplete--product-matches__price-wrapper {
  margin: 0;
}

.findify-components-autocomplete--product-matches .findify-product-card-price-rating-container {
  margin: 10px 0;
}

div.findify-components-autocomplete--product-matches__price-wrapper .findify-components--cards--product--price__compare {
  font-size: 10px !important;
  color: #8d8d8d;
}

div.findify-components-autocomplete--product-matches__price-wrapper .findify-components--cards--product--price__sale-price {
  color: #d0284b;
  font-size: 13px !important;
}

div.findify-components-autocomplete--product-matches__content .findify-components--cards--product__title {
  font-size: 12px !important;
  line-height: 1.2 !important;
  min-height: 20px !important;
}

.findify-layouts--autocomplete--dropdown__suggestions-container {
  width: 20%;
}

div.findify-layouts--autocomplete--dropdown__product-matches-container {
  width: 80%;
  padding-bottom: 10px !important;
  height: 100%;
}

.findify-layouts--autocomplete--dropdown__product-matches-container>.findify-components-autocomplete--product-matches {
  padding: 0 15px;
}

.findify-components-autocomplete--tip__tip.findify-layouts--autocomplete--dropdown__tip {
  width: 73%;
  float: right;
  margin: 0 31px 20px;
  background: #1baea0;
}

.findify-components-autocomplete--product-matches__product-card div.findify-components--cards--product--rating__rating span.findify-components--cards--product--rating__count {
  font-size: 9px !important;
}

.findify-components-autocomplete--search-suggestions__list {
  height: calc(100% - 69px);
}

.findify-components-autocomplete--product-matches__content {
  padding: 4px 9px 0!important;
}

.findify-components-autocomplete--product-matches__product-card .findify-components--cards--product__rating {
  text-align: right;
  width: 65%;
}

.findify-components-autocomplete--product-matches__product-card .findify-components--cards--product--price__price-wrapper{
  width: unset;
}
.findify-components-autocomplete--product-matches__product-card .findify-components-autocomplete--product-matches__imageWrap {
  display: table;
}

.findify-components-autocomplete--product-matches__content .findify-components--cards--product--stickers__out-of-stock-sticker span {
  color: #000;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5px;
  line-height: 1.2;
  font-size: 10px !important;
}

.findify-components-autocomplete--search-suggestions__list li {
  font-size: 12px !important;
}

.findify-components-autocomplete--product-matches .findify-components-autocomplete--product-matches__grid-column-class {
  padding: 0 10px 10px !important;
}

.findify-layouts--autocomplete--dropdown__product-matches-container h4 {
  padding-left: 27px !important;
}

.findify-components-autocomplete--product-matches__product-card {
  padding-left: 10px;
  padding-right: 10px;
}

.findify-components-autocomplete--product-matches .findify-components--cards--product--rating__star {
  margin-left: 3px;
  margin-right: 0;
}

.findify-components-autocomplete--product-matches .findify-components--cards--product--rating__star {
  width: 12px;
  height: 12px;
}

.findify-components-autocomplete--product-matches .findify-components--cards--product--rating__stars {
  margin-bottom: 0;
  line-height: 1.5;
}

.findify-layouts--autocomplete--dropdown__product-matches-container>.findify-components-autocomplete--product-matches {
  padding-right: 0 !important;
}

.findify-layouts--autocomplete--dropdown__suggestions-container {
  padding-bottom: 0;
}


/*
  Very EdiBleBlooms Specific (Stickers, Messages, etc)
*/
.findify-components-autocomplete--product-matches__content .findify-components--cards--product--stickers__out-of-stock-sticker span {
  font-size: 10px !important;
}

.findify-components-autocomplete--product-matches__product-card .findify-badge {
  font-size: 9px;
}
.findify-components-autocomplete--product-matches .findify-product-card-badge-container {
  top: 1px;
  right: -2px;
}

.findify-components-autocomplete--product-matches .findify-product-card__delivery-message__inner {
  margin-bottom: 5px;
  line-height: 1.2;
  /* font-size: 10px; */
  font-size: 10px;
  height: 20px;
}

.findify-product-card__in-stock {
  margin-bottom: 20px;
  height: 16px;
}

.findify-components-autocomplete--product-matches__content .findify-product-card__in-stock {
  margin-bottom: 3px;
  height: 8px;
}
